---
// use picture instead of image for multiple avif/webp/fallback support
import { Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import SectionPreview from "../components/SectionPreview.astro";
import Card from "../components/Card.astro";
import TechTag from "../components/TechTag.astro";

// #region images
import B01lersImg from "../images/b01lers.png";
import CitrixImg from "../images/citrix.png";
import GsocImg from "../images/gsoc.png";
import HackQImg from "../images/hackq.png";
import KevinImg from "../images/kevin.jpg";
import PurdueImg from "../images/purdue.png";
import RssImg from "../images/rss.png";
import SynchronousImg from "../images/synchronous.png";
import TsunamiImg from "../images/tsunami.png";
import TwoSigmaImg from "../images/twosigma.svg";
import DEShawImg from "../images/deshaw.svg";
import ScratchpadImg from "../images/scratchpad.png";
import LeetcodeImprovedImg from "../images/leetcode-improved.png";
// #endregion
---

<style>
  @tailwind components;

  @layer components {
    /* Add dot between elements of list */
    .list-horizontal {
      li {
        display: inline-block;

        &:not(:last-child):after {
          content: "·";
        }
      }
    }

    /* Add underline style to links */
    .link {
      @apply underline duration-200 hover:text-accent;
    }

    /* For centered picture containers */
    .picture-centered {
      @apply flex h-36 items-center justify-center;
    }
  }
</style>
<Layout
  title="Kevin Wu"
  bodyClass="bg-background text-text py-8 px-8 m-auto max-w-5xl"
>
  <div
    id="header"
    class="flex flex-initial justify-between items-center flex-wrap"
  >
    <div class="basis-112">
      <h1 class="text-2xl font-semibold">Hi! I'm</h1>
      <h1 class="text-6xl text-accent font-bold">Kevin Wu.</h1>
      <h2 class="text-2xl font-semibold">I'm a software engineer in NYC.</h2>
    </div>
    <div class="grow flex justify-center items-center m-8">
      <div class="w-64 h-64 rounded-full truncate">
        <!-- Eagerly load largest image in the page -->
        <Picture
          class="w-full h-full"
          src={KevinImg}
          widths={[500]}
          sizes={""}
          loading="eager"
          alt="Image of Kevin Wu"
        />
      </div>
    </div>
  </div>

  <ul class="text-2xl list-horizontal">
    <li>
      <a class="link" href="/resume">Resume</a>
    </li>
    <li>
      <a class="link" href="mailto:kevin@kevinniuwu.com">Email</a>
    </li>
    <li>
      <a class="link" href="https://github.com/Exaphis">GitHub</a>
    </li>
    <li>
      <a class="link" href="https://linkedin.com/in/kevw">LinkedIn</a>
    </li>
    <li>
      <a class="link" href="/blog">Blog</a>
    </li>
  </ul>

  <SectionPreview name="School" href="#school">
    I graduated from Purdue University, where I double majored in CS and Math. I
    competed in capture-the-flag competitions with the b01lers CTF club.
  </SectionPreview>
  <SectionPreview name="Experience" href="#experience">
    Last summer, I was a software engineer intern at Two Sigma. I'll be working
    at D. E. Shaw as a software engineer full-time.
  </SectionPreview>
  <SectionPreview name="Projects" href="#projects">
    My most recent project is <code>scratchpad</code>, a website where you can
    easily jot down notes for yourself and collaborate with others.
  </SectionPreview>

  <hr class="my-16 border-none" />

  <Section pretitle="01" title="School." id="school">
    <p slot="subtitle" class="text-lg">
      I just graduated from Purdue, where I was part of some cool clubs and
      groups.
    </p>

    <div class="flex justify-center items-center my-4">
      <Picture src={PurdueImg} widths={[750]} sizes={""} alt="Purdue logo" />
      <p class="min-w-fit">
        Dec. 2022
        <br />
        B.S. in Computer Science
        <br />
        B.S. in Mathematics
        <br />
        GPA: 4.00
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <Card href="https://b01lers.com">
        <div class="picture-centered">
          <Picture src={B01lersImg} widths={[500]} sizes={""} alt="B01lers logo"
          />
        </div>
        <p>
          I compete in capture-the-flag competitions with b01lers, where we
          learn how to hack and solve various cybersecurity challenges.
        </p>
      </Card>
      <Card href="https://www.cs.purdue.edu/homes/pfonseca/">
        <div class="picture-centered">
          <Picture
            src={RssImg}
            widths={[500]}
            sizes={""}
            alt="Reliable and Secure Systems logo"
          />
        </div>
        <p>
          I work in the Reliable and Secure Systems Lab with Sishuai Gong, Edwin
          Lu, and Prof. Pedro Fonseca on analyzing concurrency bugs in the Linux
          kernel.
        </p>
      </Card>
    </div>
  </Section>

  <hr class="my-16 border-none" />

  <Section pretitle="02" title="Experience." id="experience">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <Card href="https://deshaw.com">
        <div class="picture-centered">
          <img src={DEShawImg} class="h-36" width={400} alt="D. E. Shaw logo" />
        </div>
        <p>I'm excited to join D. E. Shaw as a software engineer full-time!</p>
        <p class="text-sm font-semibold mt-auto self-start">Mar 2023</p>
      </Card>
      <Card href="https://twosigma.com">
        <img src={TwoSigmaImg} class="h-36" width={500} alt="Two Sigma logo" />
        <p>
          At Two Sigma, I worked on the Foundational Storage team, where I
          extended Two Sigma's internal S3 UI (TS3UI) to Google Cloud Storage
          buckets.
        </p>
        <p>
          Using my CTF skills, I was also able to find and fix three different
          cross-site scripting vulnerabilities in various internal services.
        </p>
        <p class="text-sm font-semibold mt-auto self-start">May - Aug 2022</p>
      </Card>
      <Card href="https://citrix.com/">
        <div class="picture-centered">
          <Picture src={CitrixImg} widths={[500]} sizes={""} alt="Citrix logo"
          />
        </div>
        <p>
          While interning at Citrix, I worked on the App Layering team
          developing their Composite File System driver using C.
        </p>
        <p>
          I also worked on internal tools, such as ScanWritableFiles—a Windows
          shell extension that shows users which files are only on their
          writable layer.
        </p>
        <p class="text-sm font-semibold mt-auto self-start">May - Aug 2021</p>
      </Card>
      <Card
        href="https://summerofcode.withgoogle.com/archive/2020/projects/5453452689276928/"
      >
        <div class="picture-centered">
          <Picture
            src={GsocImg}
            widths={[500]}
            sizes={""}
            alt="Google Summer of Code logo"
          />
        </div>
        <p>
          During Google Summer of Code 2020, I developed Crossgrader, a package
          that lets you switch the architecture of a Debian installation. It is
          available in the Debian package archive.
        </p>
        <p class="text-sm font-semibold mt-auto self-start">May - Aug 2020</p>
      </Card>
    </div>
  </Section>

  <hr class="my-16 border-none" />

  <Section pretitle="03" title="Projects." id="projects">
    <p slot="subtitle" class="text-lg">
      I always have something fun in the works. Here are a few of my favorites.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <Card href="https://github.com/Exaphis/leetcode-improved">
        <div class="picture-centered">
          <Picture
            src={LeetcodeImprovedImg}
            widths={[128]}
            sizes={"7em"}
            alt="LeetCode Improved favicon"
          />
        </div>
        <p>
          LeetCode Improved is a Chrome extension that makes life with the new
          UI better. It adds quality-of-life improvements to the problem and
          submission panes, and also re-adds features that were removed from the
          old UI.
        </p>
        <div class="mt-auto">
          <TechTag name="Plasmo" />
        </div>
      </Card>
      <Card href="https://scratchpad.kev3u.com">
        <div class="picture-centered">
          <Picture
            src={ScratchpadImg}
            widths={[128]}
            sizes={"7em"}
            alt="Scratchpad favicon"
          />
        </div>
        <p>
          Scratchpad lets you jot down notes in your browser, inspired by the
          simple <code>contenteditable</code> bookmarklet. Notes are automatically
          saved for later, and you can share your notes with others and collaborate
          in real-time.
        </p>
        <div class="mt-auto">
          <TechTag name="JavaScript" />
          <TechTag name="Svelte" />
          <TechTag name="Yjs" />
        </div>
      </Card>
      <Card>
        <div class="picture-centered">
          <Picture
            src={SynchronousImg}
            widths={[180]}
            sizes={"10em"}
            alt="Synchronous logo"
          />
        </div>

        <p>
          Synchronous allows you to create temporary collaborative workspaces,
          quickly. Whenever you need to work on something with somebody else,
          pop open Synchronous and collaboratively type, draw, or share files.
        </p>
        <div class="mt-auto">
          <TechTag name="Python" />
          <TechTag name="Django" />
          <TechTag name="JavaScript" />
          <TechTag name="React" />
        </div>
      </Card>
      <Card href="https://github.com/Exaphis/HackQ-Trivia">
        <div class="picture-centered">
          <Picture
            src={HackQImg}
            widths={[250]}
            sizes={"15em"}
            alt="HackQ-Trivia logo"
          />
        </div>
        <p>
          HackQ-Trivia is a Python HQ Trivia bot. It receives HQ Trivia
          questions through their WebSocket connection and answers the questions
          automatically using web searches and natural language processing.
        </p>
        <div class="mt-auto">
          <TechTag name="Python" />
        </div>
      </Card>
      <Card href="https://github.com/Exaphis/Tsunami">
        <div class="picture-centered">
          <Picture
            src={TsunamiImg}
            widths={[250]}
            sizes={"15em"}
            alt="Tsunami logo"
          />
        </div>
        <p>
          <b>Tsunami</b> is a covert Windows driver that can read from and write
          to the memory of any process. It was used to create a proof-of-concept
          Overwatch aimbot and wallhack.
        </p>
        <div class="mt-auto">
          <TechTag name="C" />
          <TechTag name="C++" />
          <TechTag name="Windows Driver Kit" />
        </div>
      </Card>
    </div>
  </Section>
</Layout>
